.movie-card {
    width: 250px;
    /* Set desired width */
    height: 400px;
    /* Set desired height */
    overflow: hidden;
    /* Hide overflow content */
    margin: 10px;
    /* Space between cards */
    display: flex;
    flex-direction: column;
}

.movie-card img {
    width: 100%;
    height: auto;
}

.movie-card .card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}